body {
   background-color: #cdcfaf;
   /*background-color: #c4bcb4;*/
}

#bodyBlockWrapper {
    padding-left: 10px;
}

.navbar-custom {
    background-color: #bb1f44;
}

.btn-custom {
    /*background-color: #30694B;*/
    /*background-color: #62BD69;*/
    background-color: #0EBFE9;
    border-color: #0EBFE9;
}

.btn-custom:hover {
    background-color: #0EBFE9;
}

th {
    text-align: left;
}

td {
    padding-left: 20px;
    text-align: right;
}




