<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}Stalk Market{% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/plain" href="https://unpkg.com/tippy.js@6/animations/scale.css"/>

    <link rel="stylesheet" type="text/css" href="{% static 'stalks/css/styles.css' %}">

    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

{#    <script src="https://unpkg.com/@popperjs/core@2"></script>#}
{#    <script src="https://unpkg.com/tippy.js@6"></script>#}
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

    <script src="{% static 'stalks/javascript/navbar_active_tab.js' %}"></script>

    {% block head_block %}{% endblock %}

</head>
<body>

{% block nav_bar_block %}{% endblock %}

<div id="bodyBlockWrapper">
{% block body_block %}

{% endblock %}
</div>

</body>
</html>