<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Date Widget</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css' %}">

    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'jquery/jquery-ui.min.js' %}"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: "MM dd yy",
            });
        });
    </script>

</head>
<body>

   <input type="text" id="id_{{ widget.name }}" name="{{ widget.name }}" class="datepicker" value="{{ widget.value|date:"F d Y" }}">

</body>
</html>