{% extends 'stalks/base_html.html' %}

{% block title_block %}Stalk Weeks{% endblock %}

{% block stalk_week_dropdown %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Stalk Weeks
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for week in stalkweek_list|slice:":5" %}
                <li>
                    <a class="dropdown-item" href="{% url 'stalks:stalk_week_detail' week.id %}">
                        {{ week.sunday|date:"M d Y" }} -- {{ week.saturday|date:"M d Y" }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block body_block %}

<h1> Stalk Weeks </h1>

{% if stalkweek_list %}
    <ul>
    {% for week in stalkweek_list %}
        <li><a href="{% url 'stalks:stalk_week_detail' week.id %}">{{ week }}</a></li>
        <ul>
            {% for day_price in week.dayprices_set.all %}
                <li>{{ day_price }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'stalks:add_stalk_week' %}">Add Stalk Week</a>

{% endblock %}