{% extends 'stalks/base_html.html' %}

{% block title_block %}Stalk Weeks{% endblock %}

{% block stalk_week_dropdown_items %}
    {% for week in stalkweek_list|slice:":5" %}
        <li>
            <a class="dropdown-item" href="{% url 'stalks:stalk_week_detail' week.id %}">
                {{ week.sunday|date:"M d Y" }} -- {{ week.saturday|date:"M d Y" }}
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block body_block %}

<h1> Stalk Weeks </h1>

{% if stalkweek_list %}
    {% for week in stalkweek_list %}
        <a style="float: left" href="{% url 'stalks:stalk_week_detail' week.id %}">{{ week }}</a>
        <br>
        <ul>
            {% for stack in week.get_merged_turnips %}
                <li>{{ stack }}</li>
            {% endfor %}
        </ul>
        <hr style="width: 60%">
    {% endfor %}
{% endif %}

{% load static %}

<a href="{% url 'stalks:add_stalk_week' %}" class="btn btn-success btn-lg">
    <i style="padding-right: 10px" class="fa fa-plus"></i>Stalk Week
</a>

{% endblock %}