{% extends 'stalks/base_template.html' %}

{% block nav_bar_block %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WebTurnips</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a id="navHomePageLink" class="nav-link active" aria-current="page" href="{% url 'stalks:stalk_week_lists' %}">HomePage
          </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="stalkItemDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Stalk Weeks
            </a>
            <ul class="dropdown-menu" aria-labelledby="stalkItemDropdown">
                {% for week in navbar_stalk_week_list %}
                <li>
                    <a class="dropdown-item" href="{% url 'stalks:stalk_week_detail' week.id %}">
                        Week: {{ week.sunday|date:"M d Y" }} - {{ week.saturday|date:"M d Y" }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="nav-item">
          <a id="navAddStalkWeekLink" class="nav-link" href="{% url 'stalks:add_stalk_week' %}">Add Stalk Week</a>
        </li>
        <li class="nav-item">
            {% block nav_add_day_price %}
                <a id="navAddDayPrice" class="nav-link disabled" href="#">Add Day Price</a>
            {% endblock %}
        </li>
        <li class="nav-item">
            {% block nav_add_turnip_stacks %}
                <a id="navAddTurnipStacks" class="nav-link disabled" href="#">Add Turnip Stacks</a>
            {% endblock %}
        </li>
        <li class="nav-item">
            {% block nav_sell_turnip_stacks %}
                <a id="navSellTurnipStacks" class="nav-link disabled" href="#">Sell Turnip Stacks</a>
            {% endblock %}
        </li>
      </ul>
{#      <form class="d-flex">#}
{#        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#        <button class="btn btn-outline-success" type="submit">Search</button>#}
{#      </form>#}
    </div>
  </div>
</nav>
{% endblock %}