{% extends 'stalks/navbar_template.html' %}

{% block title_block %}Stalk Week Detail{% endblock %}

{% block nav_add_day_price %}
    <a id="navAddDayPrice" class="nav-link" href="{% url 'stalks:add_day_price' stalkweek.id %}">Add Day Price</a>
{% endblock %}

{% block nav_add_turnip_stacks %}
    <a id="navAddTurnipStacks" class="nav-link" href="{% url 'stalks:add_turnip_stacks' stalkweek.id %}">Add Turnip Stacks</a>
{% endblock %}

{% block body_block %}

<hr>

<h3>Sunday: {{ stalkweek.sunday }} - Saturday: {{ stalkweek.saturday }}</h3>

<hr>

{% load humanize %}

<table>
    <tr>
        <th>Turnips</th>
        <th>Costs</th>
        <th>Sales</th>
    </tr>
    <tr>
        <td>
            Stacks: {{ stalkweek.get_turnip_stacks|intcomma }} <br>
            Total: {{ stalkweek.turnip_count|intcomma }}
        </td>
        <td>
           Buy Price: {{ stalkweek.buy_price|intcomma }} Bells<br>
           Total: {{ stalkweek.get_cost|intcomma }} Bells
        </td>
        <td>
            Total: {{ stalkweek.get_sales|intcomma }} Bells<br>
            Profit: {{ stalkweek.get_profit|intcomma }} Bells
        </td>
    </tr>
</table>
<hr>

<ul>
    {% for day_price in stalkweek.dayprices_set.all %}
        <li>{{ day_price }}</li>
    {% endfor %}
</ul>

<button style="margin-top: 20px" class="btn btn-success btn-lg" id="submit-button">
        <i class="fa fa-plus" style="padding-right: 10px" ></i> Day Price
</button>

<hr>

<ul>
    {% for stacks in stalkweek.turnipstacks_set.all %}
        <li>{{ stacks }}</li>
    {% endfor %}
</ul>

<a style="margin-right: 10px" href="{% url 'stalks:add_turnip_stacks' stalkweek.id %}" class="btn btn-success btn-lg">
    <i style="padding-right: 10px" class="fa fa-plus"></i>Turnip Stacks
</a>

<hr>

<a href="{% url 'stalks:delete_stalk_week' stalkweek.id %}" class="btn btn-danger btn-lg">
    <i style="padding-right: 10px" class="fa fa-times"></i>Delete Stalk Week
</a>

{% endblock %}