{% extends 'stalks/navbar_template.html' %}

{% block title_block %}Add Stalk Week{% endblock %}

{% block head_block %}

{% load static %}
<script src="{% static 'stalks/javascript/turnip_count_update.js' %}"></script>
{#<script src="{% static 'stalks/javascript/validate.js' %}"></script>#}
<script src="{% static 'stalks/javascript/dynamic_forms.js' %}"></script>

{% endblock %}

{% block body_block %}

<h2>Stalk Week</h2>

<hr>

<form action="{% url 'stalks:add_stalk_week' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            {% for field in stalk_week.visible_fields %}
                <th>{{ field.label_tag }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for field in stalk_week.visible_fields %}
                <td>{{ field }}</td>
            {% endfor %}
        </tr>
    </table>

    <hr>

    <h3>Turnips</h3>

    <hr>

    <table id="turnip-stacks-forms">
        {% for stack_form in turnip_stacks_form_list %}
            <tr>
                {% for field in stack_form.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
                <th>Add Row</th>
            </tr>
            <tr>
                {% for field in stack_form.visible_fields %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td>
                    <button class="btn btn-success btn-lg" id="add-turnip-row">
                        <i class="fa fa-plus" ></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    <h3>Day Prices:</h3>

    <hr>

    <table id="day-price-forms">
        {% for day_price_form in day_price_form_list %}
            <tr>
                {% for field in day_price_form.visible_fields %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
                <th>Add Row</th>
            </tr>
            <tr>
                {% for field in day_price_form.visible_fields %}
                    <td>{{ field }}</td>
                {% endfor %}
                <td>
                    <button class="btn btn-success btn-lg" id="add-day-price-row">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>

    <hr>

    <button style="margin-top: 20px" class="btn btn-success btn-lg" id="submit-button">
        <i class="fa fa-plus" style="padding-right: 10px" ></i> Stalk Week
    </button>
</form>

{% endblock %}
