{% extends 'stalks/base_html.html' %}

{% block title_block %}Add Stalk Week{% endblock %}

{% block head_block %}

{% load static %}
<script src="{% static 'stalks/javascript/turnip_count_update.js' %}"></script>

{% endblock %}

{% block stalk_week_dropdown_items %}
    {% for week in latest_stalk_week_list %}
        <li>
            <a class="dropdown-item" href="{% url 'stalks:stalk_week_detail' week.id %}">
                {{ week.sunday|date:"M d Y" }} -- {{ week.saturday|date:"M d Y" }}
            </a>
        </li>
    {% endfor %}
{% endblock %}

{% block body_block %}

<h2>Add Stalk Week</h2>

<form action="{% url 'stalks:add_stalk_week' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button style="margin-top: 20px" class="btn btn-success btn-lg" type="submit">
        <i class="fa fa-plus" style="padding-right: 10px" ></i> Stalk Week
    </button>
</form>

{% endblock %}
