{% extends 'stalks/navbar_template.html' %}

{% block title_block %}Add Turnip Stacks Form{% endblock %}

{% block head_block %}

{% load static %}
<script src="{% static 'stalks/javascript/turnip_count_update.js' %}"></script>

{% endblock %}

{% block nav_add_turnip_stacks %}
    <a id="navAddTurnipStacks" class="nav-link" href="#">Add Turnip Stacks</a>
{% endblock %}

{% block nav_add_day_price %}
    <a id="navAddDayPrice" class="nav-link" href="{% url 'stalks:add_day_price' stalk_week.id %}">Add Day Price</a>
{% endblock %}

{#{% block nav_sell_turnip_stacks %}#}
{#    <a id="navSellTurnipStacks" class="nav-link" href="{% url 'stalks:sell_turnip_stacks'  stalk_week.id %}">Sell Turnip Stacks</a>#}
{#{% endblock %}#}

{% block body_block %}

<h2>Add Turnip Stacks</h2>

<h4>{{ stalk_week }}</h4>

<form action="{% url 'stalks:add_turnip_stacks' stalk_week.id %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button style="margin-top: 20px" class="btn btn-success btn-lg" type="submit">
        <i class="fa fa-plus" style="padding-right: 10px" ></i> Turnip Stacks
    </button>
</form>

{% endblock %}